html
    head
        link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous")
        script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous")
        title= "Title"
    body
        div.mt-3.container
            h1= "Manage Users"
            if logged_in
                h5.text-info= "Logged in as " + username + " (" + role + ")"
            else
                h5.text-info= "Not logged in"

            hr
            h3= "Main Actions"
            div.row.mb-2.mt-4
                div.col-4
                    if logged_in
                        a.text-decoration-none(href="/myApp/logout")
                            div.card
                                div.card-body
                                    h5.card-title= "Logout"
                                    p.card-text= "Self explanatory..."
                    else
                        a.text-decoration-none(href="/myApp/login")
                            div.card
                                div.card-body
                                    h5.card-title= "Login"
                                    p.card-text= "Self explanatory..."
                div.col-4
                    a.text-decoration-none(href="/myApp/home")
                        div.card
                            div.card-body
                                h5.card-title= "SN Home"
                                p.card-text= "Home page of social network"
            hr
            h3= "User Management"
            div.row.mb-2.mt-4
                div.col-4
                    a.text-decoration-none(href="/myApp/create-user")
                        div.card
                            div.card-body
                                h5.card-title= "Create User"
                                p.card-text= "Creates a new user (root only)"
                div.col-4
                    a.text-decoration-none(href="/myApp/delete-user")
                        div.card
                            div.card-body
                                h5.card-title= "Delete User"
                                p.card-text= "Deletes a new user (root only)"
                div.col-4
                    a.text-decoration-none(href="/myApp/change-password")
                        div.card
                            div.card-body
                                h5.card-title= "Change Password"
                                p.card-text= "Changes the password for a given user"
            div.row.mb-2
                div.col-4
                    a.text-decoration-none(href="/myApp/lock-account")
                        div.card
                            div.card-body
                                h5.card-title= "Lock Account"
                                p.card-text= "Locks an account. Account won't be able to login"

                div.col-4
                    a.text-decoration-none(href="/myApp/unlock-account")
                        div.card
                            div.card-body
                                h5.card-title= "Unlock Account"
                                p.card-text= "Unlocks an account. Account will be able to login"

            hr
            h3= "Role Management"
            div.row.mb-2
                div.col-4
                    a.text-decoration-none(href="/myApp/new-role")
                        div.card
                            div.card-body
                                h5.card-title= "New Role"
                                p.card-text= "Creates a new role"

                div.col-4
                    a.text-decoration-none(href="/myApp/set-role")
                        div.card
                            div.card-body
                                h5.card-title= "Set Role"
                                p.card-text= "Sets a new role for a given account"
            hr
            h3= "Page Management"
            div.row.mb-2
                div.col-4
                    a.text-decoration-none(href="/myApp/create-page")
                        div.card
                            div.card-body
                                h5.card-title= "New Page"
                                p.card-text= "Creates a new page for a given user"

                div.col-4
                    a.text-decoration-none(href="/myApp/delete-page")
                        div.card
                            div.card-body
                                h5.card-title= "Delete Page"
                                p.card-text= "Deletes a given page"

            span