html
    head
        link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous")
        link(href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" rel="stylesheet")
        script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous")
        title= "Title"
    body

        div.navbar.navbar-expand-lg.navbar-dark.bg-secondary
            div.container-fluid
                ul.navbar-nav.me-auto
                    li.nav-item
                        a.nav-link(href="/myApp/home")= "Home"
                    li.nav-item
                        a.nav-link(href="/myApp/manage-users")= "Manage Users"
                    li.nav-item
                        a.nav-link(href="/myApp/pending-follow-requests")= "Follow Requests"

        div.mt-3.container
            a(href="/myApp/page?page_id=" + page_id)
                span
                    i.bi.bi-arrow-left
                    span= " Back"

            h1.mt-2.text-info= "Post Details"

            div.mt-3.container
                h2.text= "Post: " + id

                h4.text= "Author: " + author

                div.card
                    h5.card-header= text
                    div.card-body
                        form(method="post" action="/myApp/like-post?post_id=" + id)

                            if liked
                                button.mt-2.btn.btn-secondary.btn-sm(type="submit")
                                    i.bi.bi-hand-thumbs-down
                                    span= " Remove like"
                            else
                                button.mt-2.btn.btn-success.btn-sm(type="submit")
                                    i.bi.bi-hand-thumbs-up
                                    span= " Like"

                        form(method="post" action="/myApp/delete-post?post_id=" + id)
                            button.mt-2.mr-1.btn.btn-danger.btn-sm(type="submit")= "Delete this post"



